@using AirlinePlanner.Models
@{
  Layout = "_Layout";
}

<div class="container">
<h3>All Flight Status</h3>

<form action="/flight/search" method="post">
    <label for="cityOneId">Search for a flight by Departure City Name</label>
    <select class="form-control" id="cityOneId" name="cityOneId" type="text" required>
        @foreach(CityClass city in @Model)
        {
            <option value="@city.GetId()">@city.GetCity()</option>
        }
    </select>
    <button id="flightButton"class="btn btn-primary btn-lg" type="submit">Search</button>
</form>

<a href="/flight/newcity">Add new cities</a><br>
<a href="/flight/newflight">Add new flights</a>
</div>
